* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color:;
 
}
#logo img{
  width: 70px;

}
.container {
  width: 90vw;
  max-width: 500px;
  padding: 2em 1.5em;
  background-color: #ffffff;
  margin: 1em auto;
  border-radius: 0.5em;
  float: left;
}
h1 {
  font-size: 1.5em;
}
.input-section {
  margin: 0.5em 0;
}
label,
.error-message {
  display: block;
  font-size: 1em;
}
label {
  margin-bottom: 0.5em;
  font-weight: 500;
}
.error-message {
  margin-top: 0.2em;
}
input,
button {
  display: block;
  outline: none;
  width: 80%;
  padding: 0.5em;
  border-radius: 0.3em;
}
input::placeholder {
  padding: 1em 0.5em;
  border: 1.5px solid #d0d0d0;
  font-style: italic;
}
button {
  font-size: 1em;
  background-color: #808080;
  border: none;
  color: #ffffff;
  padding: 0.8em 0;
  margin-top: 3em;
}
.required-color {
  color: #ff4747;
}
.errorss{
  color: red;
}
.error {
  border-color: #ff4747;
}
.valid {
  border-color: #37a137;
}
.hide {
  display: none;
}
@media only screen and (max-width:100px) {
  .container {
    font-size: 14px;
  }
}
